---
import { getCollection } from 'astro:content';
import Layout from '../../layouts/Layout.astro';
import StarRating from '../../components/StarRating.astro';
import AllTimeFavBadge from '../../components/AllTimeFavBadge.astro';
import { Image } from 'astro:assets';
import AuthorList from '../../components/AuthorList.astro';
import GenreBadge from '../../components/GenreBadge.astro';

export async function getStaticPaths() {
  const books = await getCollection('books');

  return books.map(book => {
    return {
      params: { slug: book.slug }, 
      props: { book },
    };
  });
}

const { book } = Astro.props;
const { Content } = await book.render();

// const coverUrl = book?.data.olid ? `https://covers.openlibrary.org/b/olid/${book.data.olid}-M.jpg` : '';
const coverUrl = book?.data.isbn ? `https://covers.openlibrary.org/b/isbn/${book.data.isbn}-L.jpg` : '';

---

<Layout title={book.data.title}>

  <div id="content">

    <article>
      { book.data.subtitle && <span id="subtitle">{book.data.subtitle}</span> }
      { book.data.allTimeFav && <AllTimeFavBadge /> }
      { coverUrl &&  <Image src={coverUrl}  alt={`Cover of ${book.data.title}`} class="cover" width="200" height="50" /> }
        <ul id="metadata">
          <li class="cell">
            <span>Author</span>
            <AuthorList authors={book.data.author} />
          </li>
          <li class="cell">
            <span>Genre</span>
            <GenreBadge genre={book.data.genre}>
          </li>
          <li class="cell">
            <span>Rating</span>
            <StarRating rating={book.data.rating} allTimeFav={book.data.allTimeFav} />
          </li>
        </ul>
      
       <Content />
    </article>
  </div>
</Layout>

<style>

  #content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  #subtitle {
    font-size: 1.2rem;
    color: var(--tx-3);
    margin-top: -1.5rem;
  }

  #metadata {
    margin-left: 0px;
    display: flex;
    flex-direction: column;
    gap: 0rem;
    background-color: var(--bg-2);
    padding: 0.5rem 1rem;
    border-radius: 16px;
  }

  #metadata li {
    margin-bottom: 0px;
  }

  #metadata > .cell:last-child {
    /* border-top: 1px solid var(--bg-3); */
    border-bottom: none;
}

  .cell {
    display: flex;
    flex-direction: row;
    gap: 0.4rem;
    justify-content: space-between;
    border-bottom: 1px solid var(--bg-3);
    padding: 8px 0px;
  }

  

  .cover {
    border-radius: 16px;
    margin-bottom: 1rem;
  }

  
</style>