---
import { getEntry } from 'astro:content';
import StarRating from './StarRating.astro';
import { Image } from 'astro:assets';
import AuthorList from './AuthorList.astro';
import { Icon } from 'astro-icon/components';
import GenreBadge from './GenreBadge.astro';
const { slug } = Astro.props

const book = await getEntry('books', slug);

const coverUrl = book?.data.isbn ? `https://covers.openlibrary.org/b/isbn/${book.data.isbn}-M.jpg` : '';

console.log(book?.data.allTimeFav)
---

{book && 
<a href={`/library/${book.slug}`} class={`book ${book.data.allTimeFav ? "fav" : ""}`}>
    {coverUrl && <Image src={coverUrl}  alt={`Cover of ${book.data.title}`} class="cover" width="100" height="50" />}
    <div class="metadata">
        <h3>{book.data.title}</h3>
        <div class="author-genre">
            <AuthorList authors={book.data.author} />
            </div>
            <GenreBadge genre={book.data.genre} />
        <StarRating rating={book.data.rating} allTimeFav={book.data.allTimeFav} />
    </div>

    <Icon name="open" class="open-icon" />
</a>
}

<style>
    a {
        text-decoration: none !important;
    }

    a:hover {
        box-shadow: var(--shadow-elevation-medium);
        color: var(--tx);
        filter: brightness(98%);
    }

    .book {
        display: flex;
        flex-direction: row;
        background-color: var(--bg-2);
        padding: 24px 30px;
        border-radius: 16px;
        margin-bottom: 1rem;
        transition: box-shadow 0.1s ease-out;
        align-items: center;
        gap: 1rem;
    }

    .book h3 {
        font-weight: 600;
        margin: 0px;
    }

    .metadata {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        gap: 0.5rem;
    }


    .author-genre {
        display: flex;
        flex-direction: row;
        gap: 0.2rem;
    }

    .cover {
        border-radius: 8px;
    }

    .open-icon {
        font-size: 1.5rem;
        color: var(--tx-3)
    }

    @media screen and (max-width: 450px) {
        .book {
            flex-direction: column;
            padding: 20px 20px;
            align-items: flex-start;
        }

        .open-icon {
            display: none;
        }
    }

    @media (prefers-color-scheme: dark) {
        .book:hover {
            filter: brightness(120%) !important;
        }
    }
    

</style>