---
import { getCollection } from 'astro:content';
import TiptopAd from './TiptopAd.astro';
// const allPosts = await getCollection("posts");

// Assuming the structure of your post, adjust as necessary
interface Post {
    slug: string;
    data: {
        title: string;
        timestamp: Date;
        tags: [string];
    };
}

interface GroupedPosts {
    [year: string]: {
        [month: string]: Post[];
    };
}

const allPosts: Post[] = await getCollection("posts");

// Function to group posts by year
function groupPostsByYear(posts: Post[]): GroupedPosts {
    // First, group and sort posts within each month
    const groupedAndSorted = posts.reduce<GroupedPosts>((groupedPosts, post) => {
        const year = new Date(post.data.timestamp).getFullYear().toString();
        const month = new Date(post.data.timestamp).toLocaleString('default', { month: 'long' });

        if (!groupedPosts[year]) {
            groupedPosts[year] = {};
        }

        if (!groupedPosts[year][month]) {
            groupedPosts[year][month] = [];
        }

        groupedPosts[year][month].push(post);

        // Sort the posts within each month
        groupedPosts[year][month].sort((a, b) => b.data.timestamp.getTime() - a.data.timestamp.getTime());

        return groupedPosts;
    }, {});

    // Then, sort the months within each year
    Object.keys(groupedAndSorted).forEach(year => {
        const sortedMonths = Object.keys(groupedAndSorted[year]).sort((a, b) => {
            const monthA = new Date(`${a} 01, ${year}`).getMonth();
            const monthB = new Date(`${b} 01, ${year}`).getMonth();
            return monthB - monthA;
        });

        const sortedGroup: { [month: string]: Post[] } = {};
        sortedMonths.forEach(month => {
            sortedGroup[month] = groupedAndSorted[year][month];
        });
        groupedAndSorted[year] = sortedGroup;
    });

    return groupedAndSorted;
}

const postsGroupedByYear = groupPostsByYear(allPosts);

const horizontalPadding = "10px";

const currentYear = new Date().getFullYear().toString();
const sortedYears = Object.keys(postsGroupedByYear).sort().reverse();
const lastYear = sortedYears[sortedYears.length - 1];
---

<section id="writing">
    <!-- <h2>Writing</h2> -->
    <div class="yearsList">
        {Object.keys(postsGroupedByYear).sort().reverse().map(year => (
            <div class="year-and-tiptop">
                <section class="year">
                    <h3 class="yearTitle">{year}</h3>
                    {Object.keys(postsGroupedByYear[year]).map(month => (
                        <div class="month">
                            <ol class="postList">
                                {postsGroupedByYear[year][month].map(post => (
                                    <a href={`/posts/${post.slug}`} >
                                <div class="cell">
                                    <span class="title">{post.data.title}</span>
                                    <div class="line" />
                                    <!--
                                    <div class="tags">
                                        {post.data.tags.map((tag: string) =>
                                            <span class="tag">{tag}</span>
                                        )}
                                    </div>
                                    -->
                                    <span class="date">{post.data.timestamp.toDateString().split(' ').slice(1).join(' ')}</span>
                                </div>
                            </a>
                                ))}
                            </ol>
                        </div>
                    ))}
                </section>

                {year === currentYear && (
                    <div>
                        <TiptopAd client:load />
                    </div>
                )}
            </div>
            
        ))}
    </div>
</section>


<style define:vars={{ horizontalPadding }}>

    #writing {
        display: flex;
        flex-direction: column;
        gap: 3rem;
    }
    .yearsList {
        display: flex;
        flex-direction: column;
        gap: 3rem;
    }

    .year {
        display: flex;
        flex-direction: column;
        /* gap: 1.5rem; */
    }

    .yearTitle {
        font-size: 1.4  rem;
        margin-bottom: 1rem;
        color: var(--ui-2)
    }

    .month {
        display: flex;
        flex-direction: column;
        gap: 0rem;
        /* border: 1px solid green; */
    }

    .month h3 {
        display: inline-block;
        font-size: 1rem;
        font-weight: 300;
        color: var(--tx-3);
        /* flex-shrink: 0; */
        /* border: 1px solid red; */
        /* width: 100px; */
    }

    .horizontalPadding {
        padding: 0px var(--horizontalPadding);
    }

    .postList {
        display: flex;
        flex-direction: column;
        gap: 0rem;
    }
    

    .cell { 
        display: flex;
        flex-direction: row;
        align-items: baseline; /* Align items in the center vertically */
        border-radius: 8px;
        transition: transform 0.1s ease;
        gap: 0.4rem;
        padding: 6px 0px;
    }

    /* .cell:hover {
        background-color: var(--bg-2)
    } */

    .cell:hover .title{
         text-decoration: underline;
        text-decoration-skip: objects;
        text-decoration-color: var(--tx); 
    }

    .cell:active {
        transform: translateY(2px);
    }

    a {
        text-decoration: none;
    }

    .title {
        flex-grow: 0; /* Do not allow the title to grow */
        flex-basis: auto; /* Set the base size to the content's intrinsic size */
        /* Additional styling as needed */
        color: var(--tx);
    }

    .line {
        flex-grow: 1; /* Allow the line to take up the remaining space */
        background-image: repeating-linear-gradient(
            to right,
            var(--ui), /* Dot color */
            var(--ui) 2px, /* Dot width */
            transparent 1px, /* Gap starts */
            transparent 6px /* Gap width */
        );
        
        height: 2px;
        margin: 0px 8px; /* Optional: add a small margin for visual separation */
    }

    .cell:hover .line {
        background-image: repeating-linear-gradient(
            to right,
            var(--ui-2), /* Dot color */
            var(--ui-2) 2px, /* Dot width */
            transparent 1px, /* Gap starts */
            transparent 6px /* Gap width */
        );
    }

    .tags {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 0.1rem;
    }

    .tag {
        display: inline-block;
        background-color: var(--bg-2);
        font-size: 0.7rem;
        padding: 1px 8px;
        border-radius: 50px;
        color: var(--tx-3)
    }

    .cell:hover .tag {
        /* background-color: var(--bg-2); */
        /* color: var(--tx-2) */
    }

    .date {
        flex-shrink: 1; /* Allow the date to shrink if necessary */
        color: var(--tx-3);
        font-size: 0.8rem;
    }

    @media screen and (max-width: 450px) {
        .line {
            display: none;
        }

        .cell {
            flex-direction: column;
            border-bottom: 1px solid var(--bg-2);
            border-radius: 0px;
        }

        .postList a:last-child .cell {
            border-bottom: none;
        }
    }

</style>