---
import { getCollection } from "astro:content";
import StarRating from "./StarRating.astro";

const books = await getCollection("books");
---

<div id="library">
    <div id="title-link-description">
        <div id="title-and-link">
            <h2>Library</h2>
            <a href="/library">{`All ${books.length} books` }</a>
        </div>
        <p class="description">I really enjoy reading and consider it my favorite hobby. On average, I find myself delving into about 26 books a year.</p>
    </div>

    <div id="books">
        {books.slice(0,3).map((book) => (
            <a href={`/library/${book.slug}`} class="book">
                <div class="title-and-author">
                    <span>{book.data.title}</span>
                    <span class="author">{book.data.author[0]}</span>
                </div>
                <div class="rating-wrapper">
                    <StarRating rating={book.data.rating} />
                </div>
            </a>
        ))}
    </div>
</div>

<style>

    #library {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        margin-bottom: 2rem;
    }

    #title-link-description {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    #title-and-link {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .description {
        color: var(--tx-3);
    }


    #books {
        display: flex;
        flex-direction: column;
        gap: 0rem;
    
    }

    #books a {
        color: var(--tx)
    }

    .book {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 16px 0px;
        border-bottom: 1px solid var(--bg-2);
        text-decoration: none;
        transition: border-left-width 0.2s ease-out, padding-left 0.2s ease-out;;
        padding-left: 0rem;
        border-left: 0px solid transparent;
        padding-right: 1rem;
    }

    .book:hover {
        background-color: var(--bg-2);
        border-left: 8px solid var(--ui-2);
        padding-left: 1rem;
    }

    .rating-wrapper {
        transition-property: transform;
        transition-duration: 0.2s; /* Adjust duration as needed */
        transition-timing-function: ease-out; /* Or another timing function */
    }
    .book:hover .rating-wrapper {
        transform: translateX(0.5rem);
    }

    .book:last-child {
        border-bottom: none;
    }

    .title-and-author {
        display: flex;
        flex-direction: row;
        gap: 0.8rem;
    }


    .author {
        color: var(--tx-3);
        font-size: 0.8rem;
        opacity: 1;
        transition: opacity 0.2s ease-out;
    }

    .book:hover .author {
        opacity: 0.5;
    }
   
    .cover {
        max-width: 100%;
        height: auto;
    }
</style>
