---
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
interface Props {
	title?: string,
	showingShort?: boolean,
	frontmatter?: any,
	maxWidth?: string,
}

const { title, frontmatter, showingShort = false, maxWidth = "600px" } = Astro.props;

---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Design, code & some of the things in between" />
		<meta name="generator" content={Astro.generator} />
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
		<link rel="manifest" href="/site.webmanifest">
		<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
		<meta name="msapplication-TileColor" content="#da532c">

		<meta name="theme-color" content="rgb(255, 252, 240)" media="(prefers-color-scheme: light)">
	   <meta name="theme-color" content="rgb(16, 15, 15)" media="(prefers-color-scheme: dark)">

		<script defer data-domain="marcel.io" src="https://stats.marcel.io/js/plausible.js"></script>

		<title>
			{title ? `${title} · Marcel` : (frontmatter?.title ? `${frontmatter.title} · Marcel` : "Marcel")}
		</title>
		
	</head>
	<body>
		<main>
			<Header showingShort={showingShort} />
			<div id="titleAndContent">
				{title ? <h1>{title}</h1> : (frontmatter?.title && <h1>{frontmatter.title}</h1>)}
				<slot />
			</div>
			<Footer />
		</main>
	</body>
</html>


<style is:global define:vars={{ maxWidth }}>
	@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,500;0,6..12,600;0,6..12,700;1,6..12,400&family=Nunito:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap');

	

	:root {
		--bg: rgb(255, 252, 240);
		--bg-2: rgb(247, 243, 227);
		--bg-3: rgb(232, 228, 210);
		--ui: rgb(230, 228, 217);
		--ui-2: rgb(218, 216, 206);
		--ui-3: rgb(206, 205, 195);
		--tx: rgb(16, 15, 15);
		--tx-2: rgb(111, 110, 105);
		--tx-3: rgb(183, 181, 172);

		--shadow-color: 45deg 30% 74%;
		--shadow-elevation-low:
			0.5px 1px 1.1px hsl(var(--shadow-color) / 0.2),
			0.6px 2px 1.3px -1.2px hsl(var(--shadow-color) / 0.2),
			1.0px 4px 2.6px -2.5px hsl(var(--shadow-color) / 0.2);


		--shadow-elevation-medium:
			0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.21),
			0.7px 1.4px 1.8px -0.8px hsl(var(--shadow-color) / 0.21),
			1.7px 3.3px 4.2px -1.7px hsl(var(--shadow-color) / 0.21),
			4px 8px 10.1px -2.5px hsl(var(--shadow-color) / 0.21);
		--shadow-elevation-high:
			0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.2),
			1px 1.9px 2.4px -0.4px hsl(var(--shadow-color) / 0.2),
			1.7px 3.4px 4.3px -0.7px hsl(var(--shadow-color) / 0.2),
			2.8px 5.5px 6.9px -1.1px hsl(var(--shadow-color) / 0.2),
			4.4px 8.7px 11px -1.4px hsl(var(--shadow-color) / 0.2),
			6.8px 13.5px 17px -1.8px hsl(var(--shadow-color) / 0.2),
			10.2px 20.4px 25.7px -2.1px hsl(var(--shadow-color) / 0.2),
			15px 30px 37.7px -2.5px hsl(var(--shadow-color) / 0.2);

	}

	@media (prefers-color-scheme: dark) {
    :root {
		--bg: rgb(16, 15, 15);
		--bg-2: rgb(30, 30, 29);
		--bg-3: rgb(52, 52, 48);
		--ui: rgb(40, 39, 38);
		--ui-2: rgb(52, 51, 49);
		--ui-3: rgb(64, 62, 60);
		--tx: rgb(206, 205, 195);
		--tx-2: rgb(135, 133, 128);
		--tx-3: rgb(87, 86, 83);

		--shadow-color: 0deg 0% 1%;
		--shadow-elevation-low:
			0.5px 0.7px 1.1px hsl(var(--shadow-color) / 0.2),
			0.6px 0.9px 1.3px -1.2px hsl(var(--shadow-color) / 0.2),
			1.0px 1.8px 2.6px -2.5px hsl(var(--shadow-color) / 0.2);
		--shadow-elevation-medium:
			0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.21),
			0.7px 1.4px 1.8px -0.8px hsl(var(--shadow-color) / 0.21),
			1.7px 3.3px 4.2px -1.7px hsl(var(--shadow-color) / 0.21),
			4px 8px 10.1px -2.5px hsl(var(--shadow-color) / 0.21);
		--shadow-elevation-high:
			0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.2),
			1px 1.9px 2.4px -0.4px hsl(var(--shadow-color) / 0.2),
			1.7px 3.4px 4.3px -0.7px hsl(var(--shadow-color) / 0.2),
			2.8px 5.5px 6.9px -1.1px hsl(var(--shadow-color) / 0.2),
			4.4px 8.7px 11px -1.4px hsl(var(--shadow-color) / 0.2),
			6.8px 13.5px 17px -1.8px hsl(var(--shadow-color) / 0.2),
			10.2px 20.4px 25.7px -2.1px hsl(var(--shadow-color) / 0.2),
			15px 30px 37.7px -2.5px hsl(var(--shadow-color) / 0.2);

    }
}

	* {
		padding: 0px;
		margin: 0px;
	}


	html {
		color: var(--tx);
		font-family: 'Nunito Sans', sans-serif;	
		background: var(--bg);
		font-size: 1.1rem;
		padding: 0px 20px;
	}

	body {
		margin: 100px 0px 100px 0px !important;
	}

	h1, h2, h3 {
		font-family: 'Nunito', sans-serif;
	}

	main {
		/* max-width: 600px; */
		max-width: var(--maxWidth);
		margin: auto;
		display: flex;
		flex-direction: column;
		gap: 4rem;
	}

	#titleAndContent {
		display: flex;
		flex-direction: column;
		gap: 2rem;
	}

	

	a {
		text-decoration: underline;
		color: var(--tx);
		transition: transform 0.1s ease;
		text-decoration-color: var(--tx-2);
	}

	a:hover {
		text-decoration: underline;
		text-decoration-color: var(--tx-2);
		color: var(--tx-2);
	}

	a:active {
		transform: translateY(1px);
	}

	hr {
		display: block;
		height: 1px;
		border: 0;
		border-top: 1px solid var(--bg-2);
		margin: 1em 0;
		padding: 0;
	}

	h1 {
		line-height: 2.2rem;
	}


	/* Articles */

	article h2 {
		margin-bottom: 1rem;
	}

	article h3 {
		margin-top: 2rem;
		margin-bottom: 1rem;
	}

	article h2 + h3 {
		margin-top: 2rem;
	}

	article h2 + p {
		margin-top: 1rem
	}

	article p + h2 {
		margin-top: 3rem;
	}

	article p {
		margin-bottom: 1.6rem;
		line-height: 1.5rem;
	}

	article img {
		max-width: 100%;
		height: auto;
		border-radius: 12px;
		/* transform: rotate(-1deg); */
	}

	article ul li::marker,
	article ol li::marker {
		display: inline-block;
		color: var(--tx-3);
	}

	article ul li, 
	article ol li {
		margin-bottom: 0.8rem;
	}

	article ul, 
	article ol {
		padding-left: 0;    /* Removes the default padding */
		margin-left: 0;     /* Removes the default margin */
		/* list-style-position: inside; */
		margin-left: 2rem;
		margin-bottom: 1.6rem;
	}



	article p + hr {
		margin-top: 3rem;
	}

	article hr {
		margin-bottom: 3rem;
	}

	article blockquote {
		border-left: 3px solid var(--ui);
		padding-left: 1rem;
		margin-left: 1rem;
		max-width: 70%;
		margin-bottom: 1.6rem;
	}



	/* Indent second level lists */

	article ul ul, 
	article ul ol,
	article ol ul, 
	article ol ol {
		padding-left: 20px; /* Adjust the indentation as needed */
	}
	
	/* Indent third level lists */
	article ul ul ul, 
	article ol ol ol,
	article ul ul ol, 
	article ol ol ul,
	article ul ol ul, 
	article ol ul ol,
	article ul ol ol, 
	article ol ul ul {
		padding-left: 40px; /* Adjust as needed for the third level */
	}


	pre {
		margin-bottom: 1.6rem;
		padding: 1rem;
		border-radius: 0.5rem;
	}
	
	code {
		font-family: monospace;
		font-size: inherit;
		font-size: 0.8rem;
	}

	/* Code in text */
	p > code,
	li > code,
	dd > code,
	td > code {
		background: var(--bg-2);
		word-wrap: break-word;
		box-decoration-break: clone;
		padding: .1rem .3rem .2rem;
		border-radius: .2rem;
	}
	

	img {
		max-width: 100%;
		height: auto;
	}


    .badge {
        display: inline-flex;
        padding: 0.05rem 0.44rem;
        font-size: 0.6rem;
        font-weight: 600;
        /* line-height: 1; */
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        border-radius: 10em;
        color: var(--tx-2);
        background-color: var(--bg-2);
		height: auto;
    }


	highlight {
		background-color: rgb(255, 250, 155);
	}

	mark {
		background-color: rgb(255, 250, 155);
	}


	@media (prefers-color-scheme: dark) {
		highlight {
			background-color: rgb(94, 77, 0);
		}

		mark {
			background-color: rgb(94, 77, 0);
			color: var(--tx)
		}

	}
	
</style>
